<%= form_with(model: install_distro_info, local: true) do |form| %>
  <% if install_distro_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(install_distro_info.errors.count, "error") %> prohibited this install_distro_info from being saved:</h2>

      <ul>
      <% install_distro_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :people_id %>
    <%= form.text_field :people_id %>
  </div>

  <div class="field">
    <%= form.label :trouble_id %>
    <%= form.text_field :trouble_id %>
  </div>

  <div class="field">
    <%= form.label :distro_id %>
    <%= form.text_field :distro_id %>
  </div>

  <div class="field">
    <%= form.label :installed %>
    <%= form.check_box :installed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
