<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @distro.name %>
</p>

<p>
  <strong>Package:</strong>
  <%= @distro.package %>
</p>

<p>
  <strong>Description:</strong>
  <%= @distro.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @distro.version %>
</p>

<%= link_to 'Edit', edit_distro_path(@distro) %> |
<%= link_to 'Back', distros_path %>
